body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,h2,h3,p{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
}

img{
    display: block;
    max-width: 100%;

}

.container{
    width: 1158px;
    margin: 0 auto;
}

.list {
    list-style-type: none;
}

/*Передивитися урок
 .container {
    max-width:
    padding-left: 
    padding-right: 
    margin-left: 
    margin-right:
} */

/* Стилі Header */


.page-header{
border-bottom: 1px solid #E7E9FC;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    
   
}

.logo{
    font-family: "Raleway", sans-serif;
    color:#4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.word{
    color: #2e2f42;
}

.container-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.nav-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    text-transform: capitalize;
    color: #2E2F42;
    padding: 24px 0;
}

.nav-link:active, 
.nav-link:hover,
.nav-link:focus{
    text-decoration:underline;
    color: #404BBF;
}

.container-info{
    display: flex;
    gap: 40px;
}

.info{
    font-style: normal;
}

.adrs-link{
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.32px;
    text-decoration: none;
}

.adrs-link:hover,
.adrs-link:focus,
.adrs-link:active{
    color: #404BBF;
}


/* Стилі Main */



.basic{
    padding: 188px 0;
    background-color: #2E2F42;
}

.basic-title{
    color:#FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
}

.basic-button{
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.basic-button:hover,
.basic-button:focus{
    background: #404BBF;
}

.section{
    padding: 120px 0;
}

.container-section{
    display: flex;
    gap: 24px;
    /* margin: 0 156px; */
    
}

.container-work{
    width: calc((100% - 3 * 24px) / 4);
}

.team{
    background: #F4F4FD;
}

.title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.item {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.section-title{
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-list{
    text-align: center;
    display: flex;
    gap: 24px;
}


.list-item{
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-worker{
    padding: 32px 0;
    text-align: center;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-portfolio{
    width: calc((100% - 48px) / 3);
}

.container-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* Стилі Footer */

.page-footer{
    background: #2E2F42;
    padding: 100px 0;
}

.logo-link{
    display: inline-block;
    margin-bottom: 16px;
}

.indent{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.end{
    color: #F4F4FD;
}